LogLevel alert rewrite:trace6

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Reglas para CORS
    RewriteCond %{HTTP:Origin} ^https?://(automatizador\.imporsuitpro\.com|app1\.example\.com|app2\.example\.com|automatizador\.merkapro\.ec)$ [NC]
    RewriteRule .* - [E=ORIGIN:%{escape:%{HTTP:Origin}}]

    RewriteCond %{HTTP:Origin} !^https?://(automatizador\.imporsuitpro\.com|app1\.example\.com|app2\.example\.com|automatizador\.merkapro\.ec)$ [NC,OR]
    RewriteCond %{HTTP:Origin} =""
    RewriteRule .* - [E=ORIGIN:*]
</IfModule>

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "%{ORIGIN}e" env=ORIGIN
    Header set Access-Control-Allow-Credentials "true" env=ORIGIN
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS, DELETE, PUT" env=ORIGIN
    Header set Access-Control-Allow-Headers "Content-Type, Authorization" env=ORIGIN
</IfModule>

# Opciones básicas del servidor
Options All -Indexes

# Reglas de reescritura para rutas amigables
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([\w\-/]*)$ index.php?url=$1 [QSA,L,B]

AddType audio/ogg .ogg
