<IfModule mod_rewrite.c>
    RewriteEngine On

    # Comprobar si la solicitud tiene un encabezado 'Origin'
    RewriteCond %{HTTP:Origin} ^(https?://(?:automatizador\.imporsuitpro\.com|app1\.example\.com|app2\.example\.com|automatizador\.merkapro\.ec|automatizador\.connect-mas\.com))$
    RewriteRule .* - [E=ORIGIN:%{HTTP:Origin}]

    # Si no es un dominio permitido, usar '*'
    RewriteCond %{HTTP:Origin} !(automatizador\.imporsuitpro\.com|app1\.example\.com|app2\.example\.com|automatizador\.merkapro\.ec|automatizador\.connect-mas\.com)
    RewriteRule .* - [E=ORIGIN:*]
</IfModule>

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "%{ORIGIN}e" env=ORIGIN
    Header set Access-Control-Allow-Credentials "true"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS, DELETE, PUT"
    Header set Access-Control-Allow-Headers "Content-Type, Authorization"
</IfModule>

# Opciones básicas del servidor
Options All -Indexes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

AddType audio/ogg .ogg